// 背景色
$bg-primary: #AA0601;
$bg-secondary: #FBF2F2;
$bg-black: #000000;
// 字體色
$text-primary: #650300;
$text-white: #FFFFFF;
$text-gray: #707070;
// 字體大小
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-xl: 20px;
$font-size-2xl: 24px;
$font-size-4xl: 36px;
$font-size-5xl: 48px;
$font-size-6xl: 64px;
// 字重
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
// 行高
$lh-base: 1.5;
// container
$container-pc: 1320px;
$container-pad: 720px;
$container-phone: 372px;
